grpcio==1.32.0
protobuf==3.12.2
opencv-python==4.5.3.56
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.19
protobuf==3.12.2
pytesseract>=0.3.7
six==1.16.0
traitlets==5.0.5
urllib3==1.26.6
simber==0.2.1
